In [1]:
'''this model is to predict the survival of an individual at the time of shipwreck as was in titanic 
name of Kaggel competetion : Titanic: Machine Learning from Disaster
here i have used 3 algorihims to predict my model and at last choose the one that produced me highes accuracy
* First i did data preprocessing 
* Then i used logistic regression if the score is above 0.5 then the model we are working is on the right path
* to improve score i try 2 more algorithm i.e. RandomForest and XGBoosting'''

'this model is to predict the survival of an individual at the time of shipwreck as was in titanic \nname of Kaggel competetion : Titanic: Machine Learning from Disaster\nhere i have used 3 algorihims to predict my model and at last choose the one that produced me highes accuracy\n* First i did data preprocessing \n* Then i used logistic regression if the score is above 0.5 then the model we are working is on the right path\n* to improve score i try 2 more algorithm i.e. RandomForest and XGBoosting'

In [2]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split,KFold
from sklearn.linear_model import LogisticRegression

E:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
dataset_train = pd.read_csv('C:/Users/sudeep/Downloads/Titanic_ML_disaster/train.csv')
dataset_test = pd.read_csv('C:/Users/sudeep/Downloads/Titanic_ML_disaster/test.csv')

In [4]:
dataset_train.shape

(891, 12)

In [5]:
dataset_test['Survived']=np.nan

In [6]:
dataset_train['data']='train'
dataset_test['data']='test'

In [7]:
dataset_test = dataset_test[dataset_train.columns]

In [8]:
dataset = pd.concat([dataset_train,dataset_test],axis=0)

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    1309 non-null int64
Survived       891 non-null float64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
data           1309 non-null object
dtypes: float64(3), int64(4), object(6)
memory usage: 143.2+ KB

In [10]:
dataset['Age'] = dataset['Age'].fillna(dataset['Age'].median())
dataset['Fare'] = dataset['Fare'].fillna(dataset['Fare'].median())

In [11]:
dataset.loc[dataset["Age"] <= 6,"Age_Group"] = "Baby"
dataset.loc[(dataset["Age"] > 6) & (dataset["Age"] <= 18),"Age_Group"] = "Child"
dataset.loc[(dataset["Age"] > 18) & (dataset["Age"] <= 40),"Age_Group"] = "YoungAdult"
dataset.loc[(dataset["Age"] > 40) & (dataset["Age"] <= 60),"Age_Group"] = "Adult"
dataset.loc[dataset["Age"] > 60, "Age_Group"] = "Old"

In [12]:
dataset["Age_Group"].value_counts()

YoungAdult    889
Adult         194
Child         131
Baby           62
Old            33
Name: Age_Group, dtype: int64

In [13]:
dataset['Age_Class'] = dataset['Age']*dataset['Pclass']

In [14]:
k = dataset.columns

In [15]:
k = dataset['Pclass'].value_counts()

In [16]:
k

3    709
1    323
2    277
Name: Pclass, dtype: int64

In [17]:
for col in k.axes[0][0:3]:
    val = 'Pclass_'+str(col)
    dataset[val]=np.where(dataset['Pclass']==col, 1,0)

In [18]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,data,Age_Group,Age_Class,Pclass_3,Pclass_1,Pclass_2
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train,YoungAdult,66.0,1,0,0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train,YoungAdult,38.0,0,1,0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train,YoungAdult,78.0,1,0,0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train,YoungAdult,35.0,0,1,0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train,YoungAdult,105.0,1,0,0

In [19]:
k = dataset['Embarked'].value_counts()

In [20]:
for col in k.axes[0][0:3]:
    val = 'Embarked_'+str(col)
    dataset[val]=np.where(dataset['Embarked']==col, 1,0)

In [21]:
dataset['Sex'] = np.where(dataset['Sex'] == 'male', 0,1)

In [22]:
dataset['CategoricalFare'] = pd.qcut(dataset['Fare'],5)
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,data,Age_Group,Age_Class,Pclass_3,Pclass_1,Pclass_2,Embarked_S,Embarked_C,Embarked_Q,CategoricalFare
0,1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,...,train,YoungAdult,66.0,1,0,0,1,0,0,"(-0.001, 7.854]"
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,...,train,YoungAdult,38.0,0,1,0,0,1,0,"(41.579, 512.329]"
2,3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,...,train,YoungAdult,78.0,1,0,0,1,0,0,"(7.854, 10.5]"
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,...,train,YoungAdult,35.0,0,1,0,1,0,0,"(41.579, 512.329]"
4,5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,...,train,YoungAdult,105.0,1,0,0,1,0,0,"(7.854, 10.5]"

In [23]:
def standardization(x):
    x_min = x.min()
    x_max = x.max()
    return (x-x_min)/(x_max - x_min)

In [24]:
dataset['Age'] = standardization(dataset['Age'])

In [25]:
k = dataset['Parch'].value_counts()

In [26]:
for col in k.axes[0][0:3]:
    val = 'Parch_'+str(col)
    dataset[val]=np.where(dataset['Parch']==col,1,0)

In [27]:
k = dataset['SibSp'].value_counts()

In [28]:
for col in k.axes[0][0:2]:
    val = 'SibSp_'+str(col)
    dataset[val]=np.where(dataset['SibSp']==col,1,0)

In [29]:
#Feature Engineering Starts from here
import string

In [30]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if big_string.find(substring) != -1:
            return substring
    print(big_string)
    return np.nan

In [31]:
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

In [32]:
dataset['Title']=dataset['Name'].map(lambda x: substrings_in_string(x, title_list))
 
#replacing all titles with mr, mrs, miss, master
def replace_titles(x):
    title=x['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title
dataset['Title']=dataset.apply(replace_titles, axis=1)

In [33]:
dataset['Family_Size']=dataset['SibSp']+dataset['Parch']

In [34]:
dataset['IsAlone']=np.where(dataset['Family_Size']>=1,1,0)

In [35]:
dataset['Fare_Per_Person']=dataset['Fare']/(dataset['Family_Size']+1)

In [36]:
#dataset['Fare'] = standardization(dataset['Fare'])
dataset.loc[dataset['Fare']<= 7.9 ,'Fare'] = 0
dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
dataset.loc[ dataset['Fare'] > 31, 'Fare']= 3
dataset['Fare'] = dataset['Fare'].astype(int)
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,CategoricalFare,Parch_0,Parch_1,Parch_2,SibSp_0,SibSp_1,Title,Family_Size,IsAlone,Fare_Per_Person
0,1,0.0,3,"Braund, Mr. Owen Harris",0,0.273456,1,0,A/5 21171,0,...,"(-0.001, 7.854]",1,0,0,0,1,Mr,1,1,3.62500
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0.473882,1,0,PC 17599,3,...,"(41.579, 512.329]",1,0,0,0,1,Mrs,1,1,35.64165
2,3,1.0,3,"Heikkinen, Miss. Laina",1,0.323563,0,0,STON/O2. 3101282,1,...,"(7.854, 10.5]",1,0,0,1,0,Miss,0,0,7.92500
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0.436302,1,0,113803,3,...,"(41.579, 512.329]",1,0,0,0,1,Mrs,1,1,26.55000
4,5,0.0,3,"Allen, Mr. William Henry",0,0.436302,0,0,373450,1,...,"(7.854, 10.5]",1,0,0,1,0,Mr,0,0,8.05000

In [37]:
c = pd.get_dummies(dataset['Age_Group'])

In [38]:
dataset = pd.concat([dataset,c],axis=1)

In [39]:
c = pd.get_dummies(dataset['Title'])

In [40]:
dataset = pd.concat([dataset,c],axis=1)

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 40 columns):
PassengerId        1309 non-null int64
Survived           891 non-null float64
Pclass             1309 non-null int64
Name               1309 non-null object
Sex                1309 non-null int32
Age                1309 non-null float64
SibSp              1309 non-null int64
Parch              1309 non-null int64
Ticket             1309 non-null object
Fare               1309 non-null int32
Cabin              295 non-null object
Embarked           1307 non-null object
data               1309 non-null object
Age_Group          1309 non-null object
Age_Class          1309 non-null float64
Pclass_3           1309 non-null int32
Pclass_1           1309 non-null int32
Pclass_2           1309 non-null int32
Embarked_S         1309 non-null int32
Embarked_C         1309 non-null int32
Embarked_Q         1309 non-null int32
CategoricalFare    1309 non-null category
Parch_0            1309 non-null int32
Parch_1            1309 non-null int32
Parch_2            1309 non-null int32
SibSp_0            1309 non-null int32
SibSp_1            1309 non-null int32
Title              1309 non-null object
Family_Size        1309 non-null int64
IsAlone            1309 non-null int32
Fare_Per_Person    1309 non-null float64
Adult              1309 non-null uint8
Baby               1309 non-null uint8
Child              1309 non-null uint8
Old                1309 non-null uint8
YoungAdult         1309 non-null uint8
Master             1309 non-null uint8
Miss               1309 non-null uint8
Mr                 1309 non-null uint8
Mrs                1309 non-null uint8
dtypes: category(1), float64(4), int32(14), int64(5), object(7), uint8(9)
memory usage: 258.3+ KB

In [42]:
dataset_train = dataset[dataset['data']=='train']
dataset_test = dataset[dataset['data']=='test']
dataset_train.drop(['data'],1,inplace=True)
dataset_test.drop(['data'],1,inplace=True)

E:\Anaconda\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [43]:
dataset_train['Survived']=dataset_train['Survived'].astype(int)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
Y_train = dataset_train['Survived']
X_train = dataset_train.drop(['Age','Survived','PassengerId','Ticket','Cabin','Age_Group','Embarked','SibSp','Parch','Sex','Name','Pclass','Title','CategoricalFare'],1)

In [45]:
x_train,x_test,y_train,y_test = train_test_split(X_train,Y_train,test_size = 0.2,random_state=0)

In [46]:
clf = LogisticRegression(class_weight ='balanced')

In [47]:
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [48]:
clf.score(x_test,y_test)

0.8324022346368715

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [59]:
rf = RandomForestClassifier(min_samples_split=3,verbose=1,max_depth=8,n_estimators=500)

In [60]:
from sklearn.model_selection import cross_val_score

In [61]:
rf.fit(x_train,y_train)

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=1,
            warm_start=False)

In [62]:
rf.score(x_test,y_test)

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished

0.8491620111731844

In [63]:
print(cross_val_score(rf,X_train,Y_train,cv=10))

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished

[0.77777778 0.84444444 0.74157303 0.86516854 0.8988764  0.83146067
 0.84269663 0.80898876 0.85393258 0.84090909]

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished

In [55]:
#maximum actual score reached on this model is 85% accuraccy by random forset classifier that was obtained by performing randomsearchCV

In [56]:
X_test =dataset_test.drop(['Age','Survived','PassengerId','Ticket','Cabin','Age_Group','Embarked','SibSp','Parch','Sex','Name','Pclass','Title','CategoricalFare'],1)

In [57]:
prediction = rf.predict(X_test)

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished

In [58]:
output = pd.DataFrame({'PassengerId': dataset_test.PassengerId,'Survived': prediction})
output.to_csv('C:/Users/sudeep/Downloads/Titanic_ML_disaster/submission.csv', index=False)
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1